<% provide(:title,"Home") %>
<html>
  <title>Home Page</title>

<h1>Sample App</h1>
<p>
  This is the home page for the
  
  <a href="/about">Ruby on Rails Tutorial</a>
  sample application.
</p>

<div class="intro">Introduction</div>
</html>
<style type="text/css">
  .intro{
    border: 1px solid #000;
    padding: 5px;
  }
</style>